// Profile config names for nf-core/configs


params {
  // Specific nf-core/configs params
  config_profile_contact = 'Alexander Peltzer (@apeltzer)'
  config_profile_description = 'nf-core/ampliseq fatnode profile provided by nf-core/configs'
  // Overwrites default in base.config
  //max_memory = 256.GB

}

env {
     TZ='Europe/Berlin'
}

// Process-specific fat node allocation

process {
  withName: classifier {
    containerOptions '-p node -C fat' }
}

